
<!DOCTYPE HTML>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Heatmap Calculation</title>
  </head>

  <body>

  <div class="jumbotron text-center">
    <h1>Heatmap Calculation via AWS containers</h1>
  </div>




      <form id="dim_form" action="" method="POST">
        <input type="text" class="text-input-x" placeholder="X value of matrix" value="100"> 
        <input type="text" class="text-input-y" placeholder="Y value of matrix" value="100"> 
        <input type="submit"/>
      </form>


      <br>


      <div class="row">
        <div class="col-md-7" id="container"></div>        
      </div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/progress_view.js') }}"></script>



</body>

</html>

